* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v6554_221 {
  width: 100%;
  height: 1131px;
  background: linear-gradient(rgba(31,38,80,1), rgba(0,0,0,1));
  padding: 19px 29px;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6556_25 {
  width: 100%;
  height: 150px;
  background: url("../images/v6556_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 29px;
  overflow: hidden;
}
.v6555_225 {
  width: 150px;
  height: 150px;
  background: url("../images/v6555_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6555_223 {
  width: 992px;
  height: 111px;
  background: rgba(255,255,255,0.10000000149011612);
  padding: 16px 20px;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 195px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v6555_224 {
  width: 748px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 122px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 65px;
  opacity: 1;
  text-align: left;
}
.v6555_241 {
  width: 150px;
  height: 150px;
  background: rgba(12,5,51,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1232px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v6555_237 {
  width: 103px;
  height: 60px;
  background: url("../images/v6555_237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 23px;
  overflow: hidden;
}
.v6555_238 {
  width: 103px;
  height: 60px;
  background: url("../images/v6555_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6555_239 {
  width: 103px;
  height: 60px;
  background: linear-gradient(rgba(255,255,255,0.15000000596046448), rgba(255,255,255,0.30000001192092896));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v6555_242 {
  width: 932px;
  height: 465px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 199px;
  left: 254px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v6555_253 {
  width: 876px;
  height: 408px;
  background: url("../images/v6555_253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 28px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v6555_262 {
  width: 856px;
  height: 388px;
  background: url("../images/v6555_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v6555_260 {
  width: 856px;
  height: 388px;
  background: url("../images/v6555_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v6555_243 {
  width: 100%;
  height: 376px;
  background: rgba(255,255,255,0.10000000149011612);
  padding: 40px 40px;
  opacity: 1;
  position: absolute;
  top: 694px;
  left: 29px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v6555_246 {
  width: 100%;
  height: 288px;
  background: url("../images/v6555_246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 40px;
  overflow: hidden;
}
.v6555_244 {
  width: 375px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 118px;
  left: 454px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
